:root {
    --CLR-StartButton: #40FF40;
    --CLR-StopButton: #FF4040;
    --CLR-ClearButton: #4080FF;
    --CLR-Background: #3F3F3F;
    --CLR-Steps: #FFCC00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--CLR-Background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scrollbar-width: none;
    overflow: hidden;
}

.Container {
    background-color: var(--CLR-Background);
    border-radius: 5px;
    width: 100vw;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 1.25em;
    font-size: 1.5em;
    text-decoration: underline;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.15em;
}

label {
    font-size: 1em;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: black;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

#stopButton {
    background-color: #dc3545;
    margin-top: 10px;
}

#clearButton {
    background-color: #007bff;
    margin-top: 10px;
}

#stopButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.9;
}

button:disabled:hover {
    opacity: 1;
}

.timer {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 1.25em;
}

.step-counter {
    font-size: 1em;
    color: var(--CLR-Steps);
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: 80%;
    }
}
