* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    max-width: 350px;
    height: 80vh;
    max-height: 600px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 6vw;
    max-font-size: 24px;
}

.inputs {
    margin-bottom: 20px;
}

label {
    font-size: 4vw;
    max-font-size: 16px;
}

input {
    width: 90%;
    padding: 2vw;
    margin: 1vw 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 3.5vw;
    font-size: 5vw;
    max-font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#stopButton {
    background-color: #dc3545;
    margin-top: 10px;
}

#clearButton {
    background-color: #007bff;
    margin-top: 10px;
}

#stopButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.9;
}

button:disabled:hover {
    opacity: 1;
}

.timer {
    font-size: 8vw;
    max-font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.step-counter {
    font-size: 5vw;
    max-font-size: 20px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: 80%;
        padding: 15px;
    }

    h1 {
        font-size: 5vw;
    }

    input, button {
        font-size: 4vw;
        padding: 3vw;
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: auto;
        padding: 10px;
    }

    h1 {
        font-size: 6vw;
    }

    input, button {
        font-size: 5vw;
        padding: 3vw;
    }

    .timer {
        font-size: 10vw;
    }

    .step-counter {
        font-size: 6vw;
    }
}
